.alerta{
    padding: 15px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    flex-basis: 100%;/*Faz o alerta ocupar toda a largura do flex container*/
    order:-1;
}
.info{
    background-color: #d1ecf1;
    color: #0c5460;
    border: 2px solid #bee5eb;
    border-radius: 5px;
}