*{
   
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
main{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;/*quebra a linha se o elemento não couber na página*/
    justify-content: center;
    gap: 20px;/*Espaçamento entre os elementos*/
    padding: 20px;
    flex: 1;
}
footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    position: fixed;
    bottom: 0;/*Grudar o elemento no fim da página*/
    left: 0;
    width: 100%;
}
h2, p{
    margin: 10px;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    padding-bottom: 50px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;

    overflow: hidden;
    position: sticky;
    top: 0;
}
ul li{
    float: left;
}
ul li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
    background-color: #2e1a1a;

}

ul li a.active{
    background-color: rgb(255, 0, 0);
}